<%- include('../includes/head.ejs') %>

<body class="animsition">
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/cart.ejs') %>

    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Your Account
        </h2>
    </section>


    <!-- Content page -->
    


    <!-- Map -->
    <div class="map">
        <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787"
            data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
    </div>

    <%- include('../includes/footer.ejs') %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <%- include('../includes/modal.ejs') %>
    <%- include('../includes/end.ejs') %>