<%- include('../includes/head.ejs') %>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<body class="animsition">
	<%- include('../includes/header.ejs') %>
	<%- include('../includes/cart-r-side.ejs') %>		
	<%- include('../includes/slider.ejs') %>			
	<%- include('../includes/banner.ejs') %>			
	<%- include('../includes/product.ejs', {products: products, userr: userr}) %>
	<%- include('../includes/footer.ejs') %>			
	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	<!-- Your customer chat code -->
	<div class="fb-customerchat"
	attribution=setup_tool
	page_id="422797444972698">
	</div>
	
	
	<%- include('../includes/modal.ejs') %>
<%- include('../includes/end.ejs') %>